/* General Styles */

html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: Microsoft Yahei, STXihei, Tahoma, Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333333;
    background-color: #f0f0f0;
    overflow-x: hidden;
    margin-bottom: 100px;
}


#header {
    background-color: #D72E3D;
    height: 3px;
}


/* Top Navbar Styles  */

#top {
    background: #333333;
    padding: 5px 0px;
    margin: auto;
}

#top .offer {
    color: #fff;
    margin-top: 6px;
}



@media (max-width: 991px) {
    #top .offer {
        margin-bottom: 10px;
    }
}

@media (max-width: 991px) {
    #top {
        font-size: 12px;
        text-align: left;
    }
}

#top a {
    color: #fff;
}

#top ul.menu {
    margin: auto;
    text-align: right;
    font-size: 12px;
    list-style: none;
}

@media (max-width: 991px) {
    #top ul.menu {
        text-align: center;
    }
}




/* Header Styles */

.navbar {
    background: white;
}

.navbar-collapse .right {
    float: left;
}

.navbar ul.nav>li>a {
    font-size: 18px;
    color: black;
}

.padding-nav {
    padding-top: 0px;
}

.navbar ul.nav>li>a:hover {
    background: #e7e7e7;
}

#nav {
    border-bottom: 3px solid #D72E3D;
}


/* About us*/
.mydiv {
    color: #f4f4f4;
    background-color: #333333;

}





/* Slider Styles  */

#slider {
    margin-bottom: 10px;
}


/* Advantages Styles */

.box {
    background: #fff;
    margin: 0 0 30px;
    border: solid 1px #e6e6e6;
    box-sizing: border-box;
    padding: 20px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}


#advantages {
    text-align: center;
}

#advantages .box .icon {
    position: absolute;
    font-size: 120px;
    width: 100%;
    text-align: center;
    top: -20px;
    left: 0;
    height: 100%;
    float: left;
    color: #eeeeee;
    transition: all 0.2s ease-out;
    z-index: 1;
    box-sizing: border-box;
}

#advantages .box h3 {
    position: relative;
    margin: 0 0 20px;
    font-weight: 300;
    text-transform: uppercase;
    z-index: 2;
}

#advantages .box h3 a:hover {
    text-decoration: none;
}

#advantages .box p {
    position: relative;
    color: #555555;
    z-index: 2;
}


/* Products Styles  */

#hot h2 {
    text-transform: uppercase;
    font-size: 36px;
    color: #4993e4;
    font-weight: 100;
    text-align: center;
}

#content {
    padding-left: 25px;
}



@media only screen and (max-width: 992px) {
    h2 {
        font-size:30px;
    }
}

@media only screen and (max-width: 776px) {
    h2 {
        font-size:25px;
    }

    #content {
        padding-left: 15px;
    }

}

@media only screen and (max-width: 617px) {
    h2{
        font-size:20px;
    }

    #content {
        padding-left: 10px;
    }

}


@media only screen and (max-width: 511px) {
    h2 {
        font-size:20px;
    }

    #content {
        padding-left: 5px;
    }
}

@media only screen and (max-width: 480px) {
    h2 {
        font-size:18px;
    }

    #content {
        padding-left: 0px;
    }
}


@media only screen and (max-width: 440px) {
    h2 {
        font-size:15px;
    }

    #content {
        padding-left: 0px;
    }
}

.single {
    width: 290px;
}

@media (max-width: 768px) {
    .single {
        width: 60%;
        margin: 0 auto;
    }
}



.details_container {
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto
}

@media (min-width: 551px) {
    .details_container {
        width: 530px;
    }
}



@media (min-width: 768px) {
    .details_container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .details_container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .details_container {
        width: 1170px;
    }
}



.product {
    background: #fff;
    border: solid 1px #e6e6e6;
    box-sizing: border-box;
    margin-bottom: 30px;
}




.product .text h3 {
    text-align: center;
    font-size: 25px;
    font-family: Microsoft Yahei;
}

.product .text h3 a {
    color: rgb(85, 85, 85);
}

.product .text {
    padding: 10px 10px 0px;
}


/*product shadow effect*/
/*==================================================
 * Effect 1
 * ===============================================*/
.effect1{
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
}


/*  Breadcrumb Styles  */

.breadcrumb {
    padding: 8px 15px;
    margin-bottom: 20px;
    background-color: #ffffff;
    border-radius: 0;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
}

.breadcrumb>li+li:before {
    content: ">\00a0";
    color: #cccccc;
}

@media (max-width: 991px) {
    .breadcrumb {
        padding: 8px 0;
        text-align: center;
    }
}


/* products categories and categories styles */

#content .panel.sidebar-menu {
    box-sizing: border-box;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

#content .panel.sidebar-menu ul.nav.category-menu {
    margin-bottom: 20px;
}

#content .panel.sidebar-menu ul.nav.category-menu li a {
    text-transform: uppercase;
    font-weight: bold;
}

#content .panel.sidebar-menu h3 {
    padding: 5px 0;
    margin: 0;
}


/* Shop Products Styles */

@media (max-width: 768px) {
    .center-responsive {
        width: 95%;
        margin: 0 auto;
    }
}

@media (max-width: 550px) {
    .center-responsive {
        width: 95%;
        margin: 0 auto;
    }
}


/* Details Styles */

#content #productMain {
    margin-bottom: 30px;
}

#content #productMain .price {
    font-size: 30px;
    font-weight: 300;
    text-align: center;
    margin-top: 40px;
}

#content #mainImage {
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.7);
}

#content #thumbs a {
    display: block;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    border: solid 2px transparent;
}

#content .headline {
    height: 350px;
}


/* Cart page Styles */

#content #cart .table tbody tr td img {
    width: 50px;
}

#content #cart .table tbody tr td input {
    width: 40px;
    text-align: right;
}

#content #cart .table tbody tr td {
    vertical-align: middle;
}

#content #cart .table tfoot {
    font-size: 18px;
}

.box .box-footer {
    background: #f7f7f7;
    margin: 30px -20px -20px;
    padding: 20px;
    border-top: solid 1px #eeeeee;
}

.box .box-footer:before,
.box .box-footer:after {
    content: " ";
    display: table;
}

.box .box-footer:after {
    clear: both;
}

.box .box-header {
    background: #f7f7f7;
    margin: -20px -20px 20px;
    padding: 20px;
    border-bottom: solid 1px #eeeeee;
}

#content #order-summary table {
    margin-top: 20px;
}

#content #order-summary table td {
    color: #999999;
}

#content #order-summary table tr.total td,
#content #order-summary table tr.total th {
    font-size: 18px;
    color: #555555;
    font-weight: 700;
}


/* Footer Styles */

#footer2 {
    background: #333;
    color: white;
    padding: 5px 0px 10px 0px;
    font-size: 12px;
    text-align: center;
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 55px;
}

#footer2 p {
    margin: 5px;
}

.social a {
    margin: 0 10px 0 0;
    color: #fff;
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    line-height: 30px;
    font-size: 15px;
    text-align: center;
    transition: all 0.2s ease-out;
    vertical-align: bottom;
    background-color: #555555;
}


/** Filter Styles **/

.nav.category-menu {
    margin-top: -21px;
}

.scroll-menu {
    height: 260px;
    overflow-y: scroll;
}

.checkbox span {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding-left: 5px;
}

.checkbox span::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    margin-left: -20px;
    border: 2px solid #cccccc;
    border-radius: 3px;
    background-color: #fff;
    transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}

.checkbox span::after {
    display: inline-block;
    position: absolute;
    width: 16px;
    height: 16px;
    left: 0;
    top: 0;
    margin-left: -20px;
    padding-left: 3px;
    padding-top: 1px;
    font-size: 11px;
    color: #555555;
}

.checkbox input[type="checkbox"] {
    opacity: 0;
    z-index: 1;
    cursor: pointer;
}

.checkbox input[type="checkbox"]:focus+span::before {
    outline: thin dotted;
    outline: 5px auto;
    outline-offset: -2px;
}

.checkbox input[type="checkbox"]:checked+span::after {
    font-family: "FontAwesome";
    content: "\f00c";
}

.checkbox-primary input[type="checkbox"]:checked+span::before {
    background-color: #337ab7;
    border-color: #337ab7;
}

.checkbox-primary input[type="checkbox"]:checked+span::after {
    color: #fff;
}


/*ajax load*/
.ajax-load {
    padding: 30px 0px;
    width: 100%;
    color: grey;
    font-size: 12px;
}



/* Label Styles  */

.label {
     text-decoration: none;
     position: absolute;
     padding-left: 51px;
     top: 0;
 }


.label .product-label {
    position: relative;
    width: 90px;
    padding: 5px 15px 5px 15px;
    margin: 0px 50px 10px -71px;
    color: #fff;
    font-size: 17px;
    font-weight: bold;
    background-color: #facf18;
    text-shadow: 0px 1px 2px #bbb;
}

.label .product-label:before,
.label .product-label:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
}

.label .product-label:after {
    left: 0px;
    top: 100%;
    border-width: 5px 10px;
    border-style: solid;
    border-color: #faa400 #faa400 transparent transparent;
}


/*Post*/

#post {

    position: relative;
    padding: 0px;
    background-color: whitesmoke;


}

#post img {
    margin:5px auto;
    border-bottom: solid orange 2px;
}

#post a {
    color: #191919;
}


#post span {
    color: grey;

}

#post hr {
    postion:absolute;
    bottom:15px;

}

.post_label {
    position: absolute;
    bottom: 0;
    left:15px;
    color: darkgrey;

}

.post_date {
    position: absolute;
    bottom: 0;
    right:10px;
    color: darkgrey;


}


/*post image*/
.img-post{
    display: block;
    margin-top:1em;
    float: top;
    overflow: hidden;
    position: relative;
    text-align: left;
    cursor: default;

}



.img-post img {
    display: block;
    position: relative;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

#post:hover img {

    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}





.img-post a{
    color: #191919;
}

/*Contact*/


#container div {

    height:180px;
    position:relative;
    overflow:hidden;
}
#container img {
    position:absolute;
    top: 0px;
    left:0px;

}


/*fen ge xian*/

#fenge {
    display: block;
    height: 3px;
    border: 0;
    border-top: 1px solid #ff9c00;
    margin: 1em 0;
    padding: 0;

}


/* tick and cross icons styles */

.tick1 {
    font-size: 18px !important;
    color: red;
}

.cross1 {
    font-size: 18px !important;
    color: red;
}

.tick2 {
    font-size: 18px !important;
    color: red;
}

.cross2 {
    font-size: 18px !important;
    color: red;
}


/* Password Strength Checker Styles */

#meter_wrapper {
    border: 1px solid grey;
    width: 202px;
    height: 20px;
    margin: 0;
    border-radius: 3px;
}

#meter {
    width: 0px;
    height: 18px;
    border-radius: 2px;
}

#pass_type {
    font-size: 15px;
    margin-top: 10px;
    position: absolute;
    top: 0;
    right: 90px;
    margin-bottom: 10%;
    color: grey;
}


/* Services Styles  */

.services .col-md-4 {
    margin-left: 3%;
    width: 29%;
}

@media(max-width: 1000px) {
    .services .col-md-4 {
        margin-left: 2%;
        width: 46%;
    }
}

@media(max-width: 800px) {
    .services .col-md-4 {
        width: 90%;
    }
}


::-moz-selection { /* Code for Firefox */
    color: red;
    background: yellow;
}

::selection {
    color: red;
    background: yellow;
}
